ul {
  list-style: none;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;
}
.button {
  background-color: var(--accent-color);
  color: var(--white);
}

.portfolio-button {
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-color);
  color: var(--white);
}

.filter-list .link {
  color: var(--primaty-text-color);
}

.filter-list .link:hover,
.filter-list .link:focus {
  background-color: var(--accent-color);
  color: var(--white);
}

.list-of-products .product-item {
  text-decoration: none;
}

.product-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--primaty-text-color);
}

.product-type {
  font-size: 16px;
  line-height: 1.88;

  color: var(--second-text-color);
}
